/* font-family: 'Amaranth', sans-serif;
font-family: 'Roboto', sans-serif; */

body > .pre-rodape {
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    height: 450px;

    background: #fed843;
    border-radius: 0px 318px 0px 0px;
}

body > .pre-rodape > .titulo-pre-rodape > h2 {
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 87px;
    align-items: center;

    color: #000;
}

body > .pre-rodape > .txt-pre-rodape > p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    align-items: center;

    color: #000;
}

body > footer {
    display: list-item;
    align-items: center;
}

body > footer > p {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    top: 480px;
}

body > footer > div > .img {
    position: absolute;
    max-width:100px;
    max-height:50px;
}